<app-banner></app-banner>
<div class="container mt-5">
    <h1 class="mb-5 san">Exceptionally designed products for your home</h1>
    <div class="row mt-2">
        <div class="col-md-6 di" data-aos="zoom-out-right">
            <a routerLink="/" data-bs-toggle="modal" data-bs-target="#add" >
                <img src="/assets/sanatry.jpg" class="position-relative imghw" alt="sanatry">
                <h4 class="position-absolute abs">Sanitaryware</h4>
                <p>
                    <a routerLink="/" class="pa position-absolute" data-bs-toggle="modal" data-bs-target="#add">
                        <i class="bi bi-dash-lg" style="margin-left:80px;"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i> EXPLORE
                    </a>
                </p>
            </a>
        </div>
        <div class="col-md-6 di" data-aos="zoom-out-right">
          <a routerLink="/"  data-bs-toggle="modal" data-bs-target="#add">
              <img src="/assets/faucets2.avif" class="position-relative imghw" alt="sanatry">
              <h4 class="position-absolute abs">Faucets</h4>
              <p>
                  <a routerLink="/" class="pa position-absolute" data-bs-toggle="modal" data-bs-target="#add">
                      <i class="bi bi-dash-lg" style="margin-left:80px;"></i>
                      <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                      <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                      <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                      <i class="bi bi-dash-lg" style="margin-left:-4px"></i> EXPLORE
                  </a>
              </p>
          </a>
      </div>
    </div>
    <div class="row mt-3 mb-5">
        <div class="col-md-6 di" data-aos="fade-left">
            <a routerLink="/tile/tiles" data-bs-toggle="modal" data-bs-target="#addtiles">
            <img src="/assets/tiles.jpg" class="position-relative imghw" alt="sanatry">
            <h4 class="position-absolute abs">Tiles</h4>
            <p>
                <a routerLink="/tile/tiles" class="pa position-absolute" data-bs-toggle="modal" data-bs-target="#addtiles">
                    <i class="bi bi-dash-lg" style="margin-left:80px;"></i>
                    <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                    <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                    <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                    <i class="bi bi-dash-lg" style="margin-left:-4px"></i> EXPLORE
                </a>
            </p>
        </a>
        </div>
        
        <div class="col-md-6 di"data-aos="zoom-out-left">
            <a routerLink="/Quartz/quartz">
            <img src="/assets/quartz.jpg" class="position-relative imghw" alt="sanatry">
            <h4 class="position-absolute abs">Quartz</h4>
            <p>
                <a routerLink="/Quartz/quartz" class="pa position-absolute">
                    <i class="bi bi-dash-lg" style="margin-left:80px;"></i>
                    <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                    <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                    <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                    <i class="bi bi-dash-lg" style="margin-left:-4px"></i> EXPLORE
                </a>
            </p>
        </a>
        </div>
    </div>
    <div class="row mt-3 mb-5">
      <div class="col-md-6 di" data-aos="fade-left">
          <a routerLink="" data-bs-toggle="modal" data-bs-target="#add" data-bs-toggle="modal" data-bs-target="#add" >
          <img src="/assets/porcelain.jpeg" class="position-relative imghw" alt="sanatry">
          <h4 class="position-absolute abs">Porcelain Mosaic</h4>
          <p>
              <a routerLink="" class="pa position-absolute" data-bs-toggle="modal" data-bs-target="#add" data-bs-toggle="modal" data-bs-target="#add">
                  <i class="bi bi-dash-lg" style="margin-left:80px;"></i>
                  <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                  <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                  <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                  <i class="bi bi-dash-lg" style="margin-left:-4px"></i> EXPLORE
              </a>
          </p>
      </a>
      </div>
      <div class="col-md-6 di" data-aos="fade-right">
        <a routerLink="" data-bs-toggle="modal" data-bs-target="#addfaucet">
        <img src="/assets/subway.jpeg" class="position-relative imghw" alt="sanatry">
        <h4 class="position-absolute abs">Subway Tiles</h4>
        <p>
            <a routerLink="" class="pa position-absolute" data-bs-toggle="modal" data-bs-target="#addfaucet">
                <i class="bi bi-dash-lg" style="margin-left:80px;"></i>
                <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                <i class="bi bi-dash-lg" style="margin-left:-4px"></i> EXPLORE
            </a>
        </p>
    </a>
    </div>
      
      <!-- <div class="col-md-6 di"data-aos="zoom-out-left">
          <a routerLink="">
          <img src="/assets/welnes.jpg" class="position-relative imghw" alt="sanatry">
          <h4 class="position-absolute abs">Subway Tiles</h4>
          <p>
              <a routerLink="" class="pa position-absolute">
                  <i class="bi bi-dash-lg" style="margin-left:80px;"></i>
                  <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                  <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                  <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                  <i class="bi bi-dash-lg" style="margin-left:-4px"></i> EXPLORE
              </a>
          </p>
      </a>
      </div> -->
  </div>
</div>
<hr>

<!--  -->
<div class="container my-5">
    <div class="row">
   <div class="col-sm">
    <div class="image-stack">
      <div class="image-stack__item image-stack__item--top">
      <div data-aos="fade-right">
      <img src="/assets/marble5.jpeg" class="shadow rounded" alt="about2">
      </div>
  </div>
      <div class="image-stack__item image-stack__item--bottom ">
      <div data-aos="fade-left">
        <img src="/assets/marble4.jpeg" class="shadow rounded" alt="about1">
        </div>
      </div>
    </div>
  </div>
      <div class="col-sm px-5 py-3 py-md-0">
          <div data-aos="zoom-in-up">
              <h1 class="font2">Let's Make Your Vision A Reality With Quartz</h1>
              <p class="text-justify font3 font2">This might be a business that specializes in creating or
                 supplying high-quality  Products for home or commercial use, such as countertops, 
                 decorative pieces and flooring or industries flooring.</p>
              <ul class="listul">
                  <li class="listli">Full Polished Glossy Finish</li>
                  <li class="listli">High Durable</li>
                  <li class="listli">Leather Finish</li>
                  <li class="listli">Matt Finish</li>
                  <li class="listli">Easy to Clean</li>
                  <li class="listli">Dimensional Stability</li>
                  <li class="listli">Eco Friendly</li>
                  <li class="listli">Slip Resistant</li>
                  <li class="listli">Stain Resistant</li>
              </ul>
              
          </div>
      </div>
    </div>
    <!-- new row -->
    
  </div>
  <!--  -->

<!--  -->
<div class="container-fluid">
  <div class="row mb-5">
    <div class="col-md-5" style="margin-left:40px;margin-top: 8rem;">
      <h2 style="line-height: 54px;font-size: 48px;font-weight:900;font-family:Playfair Display">
        A Trendy 
        <span style="color: #ae8f21;">Mosaic</span>
        <span> for Trendy Home</span>
      </h2>
        <div>
          <img src="/assets/mosaic2.jpg" alt="" style="width:28rem;">
        </div>
    </div>
   
    <div class="col-md-6 mt-5" style="margin-left:20px;">
      <img src="/assets/trendy.jpg" alt="" class="im">
    </div>
  </div>
</div>

<hr>
<div class="container-fluid mt-5">
  <div class="row"> 
    <div class="col-md-5">
   <div class="desc mt-5">
    <h3  style="margin-left:40px;text-align:center;"> Experience the designs that changes lifestyles. Find out our latest models, technologies that match 
      your accentuated style.</h3>
   </div>
    </div>
    <div class="col-md-6 mb-5">
      <img src="/assets/hh.jpg" alt="hh" style="width: 100%;margin-left: 35px;">
    </div>
  </div>
</div>
<hr>
<!-- <div class='container-fluid mb-5 text-center mt-5'>
  <h1>Our Social Network</h1>
  <div class='facebook'>
    <a routerLink="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook " aria-hidden="true"></i>
  </a>
  </div>

  <div class="twitter">
    <a routerLink="https://twitter.com/" target="_blank"><i class="bi bi-twitter " aria-hidden="true"></i></a>
  </div>

  <div class="youtube">
    <a routerLink="https://youtube.com/" target="_blank"><i class="bi bi-youtube " aria-hidden="true"></i></a>
  </div>

  <div class="instagram">
    <a routerLink="https://www.instagram.com/" target="_blank">
      <i class="bi bi-instagram " aria-hidden="true"></i>
    </a>
  </div>
</div> -->
<!-- <hr> -->



<!-- Modal -->
<form [formGroup]="form" (ngSubmit)="add()" >
 <div class="modal fade" id="add" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog">
         <div class="modal-content">
             <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Please Fill the Information</h5>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
             </div>
             <div class="modal-body">
                 <div class="mb-3">
                     <label for="exampleInputPassword1" class="form-label">Country Code</label>
                     <input type="text" class="form-control" placeholder="Enter Country Code"
                         formControlName="countryCode" required>
                 </div>
             </div>
             <div class="modal-body">
                 <div class="mb-3">
                     <label for="exampleInputPassword1" class="form-label">Number</label>
                     <input type="text" class="form-control" placeholder="Enter Number"
                         formControlName="phoneNumber" required>
                 </div>
             </div>

             <div class="modal-footer">
              <!-- <button class="btn btn-primary" (click)="showEdit()">Enter OTP</button> -->
                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 <button type="submit" class="btn btn-primary"  (click)="showEdit()">Send OTP</button>
                 <!-- [disabled]="!form.valid" -->
             </div>      
             <div class="form-wrap" *ngIf="showform"> 
              <form>
                <div class="modal-body">
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Country Code</label>
                      <input type="text" class="form-control" placeholder="Enter Country Code"
                          formControlName="countryCode" required>
                  </div>
              </div>
              <div class="modal-body">
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Number</label>
                      <input type="text" class="form-control" placeholder="Enter Number"
                          formControlName="phoneNumber" required>
                  </div>
              </div>
              
                <div class="modal-body">
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">OTP</label>
                      <input type="text" class="form-control" placeholder="Enter OTP"
                          formControlName="verifyOTP" required>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <a type="submit" routerLink="/sanitaryware/sanitaryware"  class="btn btn-primary">Submit</a>
                  <!-- [disabled]="!form.valid" -->
              </div> 
              </form>
            </div>
         </div>
     </div>
 </div>
</form> 

<div class="form-wrap" *ngIf="showform"> 
  <form [formGroup]="verifyform" (ngSubmit)="verification()">
    <div class="modal-body">
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Country Code</label>
          <input type="text" class="form-control" placeholder="Enter Country Code"
              formControlName="countryCode" required>
      </div>
  </div>
  <div class="modal-body">
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Number</label>
          <input type="text" class="form-control" placeholder="Enter Number"
              formControlName="phoneNumber" required>
      </div>
  </div>
  
    <div class="modal-body">
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">OTP</label>
          <input type="text" class="form-control" placeholder="Enter OTP"
              formControlName="verifyOTP" required>
      </div>
  </div>
 
  </form>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <a routerLink="/sanataryware/sanataryware" class="btn btn-primary" >Sut</a>
    <!-- [disabled]="!form.valid" -->
</div> 
</div>


<!-- faucets -->
<form [formGroup]="form" (ngSubmit)="add()" >
  <div class="modal fade" id="addfaucet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Please Fill the Information</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Country Code</label>
                      <input type="text" class="form-control" placeholder="Enter Country Code"
                          formControlName="countryCode" required>
                  </div>
              </div>
              <div class="modal-body">
                  <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Number</label>
                      <input type="text" class="form-control" placeholder="Enter Number"
                          formControlName="phoneNumber" required>
                  </div>
              </div>
 
              <div class="modal-footer">
               <!-- <button class="btn btn-primary" (click)="showEdit()">Enter OTP</button> -->
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary"  (click)="showFaucet()">Send OTP</button>
                  <!-- [disabled]="!form.valid" -->
              </div>      
              <div class="form-wrap" *ngIf="showform"> 
               <form>
                 <div class="modal-body">
                   <div class="mb-3">
                       <label for="exampleInputPassword1" class="form-label">Country Code</label>
                       <input type="text" class="form-control" placeholder="Enter Country Code"
                           formControlName="countryCode" required>
                   </div>
               </div>
               <div class="modal-body">
                   <div class="mb-3">
                       <label for="exampleInputPassword1" class="form-label">Number</label>
                       <input type="text" class="form-control" placeholder="Enter Number"
                           formControlName="phoneNumber" required>
                   </div>
               </div>
               
                 <div class="modal-body">
                   <div class="mb-3">
                       <label for="exampleInputPassword1" class="form-label">OTP</label>
                       <input type="text" class="form-control" placeholder="Enter OTP"
                           formControlName="verifyOTP" required>
                   </div>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                   <a type="submit"  routerLink="/faucets/faucets"  class="btn btn-primary">Submit</a>
                   <!-- [disabled]="!form.valid" -->
               </div> 
               </form>
             </div>
          </div>
      </div>
  </div>
 </form> 

<div class="form-wrap" *ngIf="faucetform"> 
  <form [formGroup]="verifyform" (ngSubmit)="verification()">
    <div class="modal-body">
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Country Code</label>
          <input type="text" class="form-control" placeholder="Enter Country Code"
              formControlName="countryCode" required>
      </div>
  </div>
  <div class="modal-body">
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Number</label>
          <input type="text" class="form-control" placeholder="Enter Number"
              formControlName="phoneNumber" required>
      </div>
  </div>
  
    <div class="modal-body">
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">OTP</label>
          <input type="text" class="form-control" placeholder="Enter OTP"
              formControlName="verifyOTP" required>
      </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <a type="submit" routerLink="/faucets/faucets"  class="btn btn-primary" >Submit</a>
      <!-- [disabled]="!form.valid" -->
  </div> 
  </form>
</div>





