<div class="container-fluid bgimg">
    <div class="title">
        <h1 class="tit">Human Resources</h1>
        <p>Our  human resources solutions include global benefits, expat service</p>
    </div>
    </div>
    <div class="container">
    <h4 class="text-center mt-5 mb-5">Human Resource isn’t a thing we do, it’s the thing that runs our business.</h4>
    </div>
    <div class='container-fluid mb-5 text-center'>
        <h1>Our Social Network</h1>
        <div class='facebook'>
          <a routerLink="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook " aria-hidden="true"></i>
        </a>
        </div>
      
        <div class="twitter">
          <a routerLink="https://twitter.com/" target="_blank"><i class="bi bi-twitter " aria-hidden="true"></i></a>
        </div>
      
        <div class="youtube">
          <a routerLink="https://youtube.com/" target="_blank"><i class="bi bi-youtube " aria-hidden="true"></i></a>
        </div>
      
        <div class="instagram">
          <a routerLink="https://www.instagram.com/" target="_blank">
            <i class="bi bi-instagram " aria-hidden="true"></i>
          </a>
        </div>
      </div>