<div class="photo-gallery">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">OUR FACTORY</h2>
            <p class="text-center"></p>
        </div>
        <div class="row photos">
            <div class="col-md-6 item"><a routerLink="assets/factory1.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/factory1.jpg"></a></div>
            <div class="col-md-6 item"><a routerLink="assets/factory2.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/factory2.jpg"></a></div>
            <div class="col-md-6 item"><a routerLink="assets/factory3.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/factory3.jpg"></a></div>
            <div class="col-md-6 item"><a routerLink="assets/factory4.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/factory4.jpg"></a></div>
            <div class="col-md-6 item"><a routerLink="assets/factory5.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/factory5.jpg"></a></div>
            <div class="col-md-6 item"><a routerLink="assets/factory6.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/factory6.jpg"></a></div>
            <div class="col-md-6 item"><a routerLink="assets/factory7.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/factory7.jpg"></a></div>
            <div class="col-md-6 item"><a routerLink="assets/factory8.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/factory8.jpg"></a></div>
            <div class="col-md-6 item"><a routerLink="assets/factory9.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/factory9.jpg"></a></div>
        </div>
    </div>
</div>