<div class="container-fluid bgimg">
    <div class="title">
        <h1 class="tit">Sanitaryware</h1>
        <p>Looks like Art. Feels like Home.</p>
    </div>
    </div>

    <div class="container">
        <h1 class="title2 mt-5 mb-5">Product categories</h1>
        <div class="row mt-4 position:relative">
            <div class="col-md-6 position:absolute">
                   <a routerLink="" style="text-decoration: none;">
                    <img src="/assets/cisterns.jpg" alt="cisterns" style="width: 100%;">
                    <h3 class="pc">Cisterns</h3>
                   </a>
            </div> 
            <div class="col-md-6">
                <a routerLink="" style="text-decoration: none;">
                    <img src="/assets/urinil.jpg" alt="urinil" style="width: 100%;">
                    <h3 class="pc">Urinil</h3>
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <a routerLink="" style="text-decoration: none;">
                    <img src="/assets/ewc.jpg" alt="ewc" style="width: 100%;height: 20rem;">
                    <h3 class="pc">EWCs</h3>
                </a>
            </div>
            <div class="col-md-6">
                <a routerLink="" style="text-decoration: none;">
                    <img src="/assets/Washbasin.jpg" alt="Washbasin" style="width: 100%;height: 20rem;">
                    <h3 class="pc">Wash Basin</h3>
                </a>
            </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col-md-6">
                <a routerLink="" style="text-decoration: none;">
                    <img src="/assets/accessories.jpg" alt="accessories" style="width: 100%;">
                    <h3 class="pc">Accessories</h3>
                </a>
            </div>
            <div class="col-md-6">
                <a routerLink="" style="text-decoration: none;">
                    <img src="/assets/Specialneeds.jpg" alt="Specialneed" style="width: 100%;height:24.8rem;">
                    <h3 class="pc">Special Needs</h3>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <!-- bathroom  -->
    <div class="container">
        <h1 class="title2">New bathroom collection</h1>
    <div class="row mb-5">
    <div class="col-md-4">
        <img src="/assets/carnival.jpg" alt="carnival">
        <h3 class="mt-2"><a routerLink="" class="nb">Carnival Matt Black</a></h3>
    </div>
    <div class="col-md-4">
        <img src="/assets/shower.jpg" alt="shower">
        <h3 class="mt-2"><a routerLink="" class="nb">WaterFall Shower</a></h3>
    </div>
    <div class="col-md-4">
        <img src="/assets/vine.jpg" alt="vine">
        <h3 class="mt-2"><a routerLink="" class="nb">Vine Collection</a></h3>
    </div>
    </div>
    </div>
    <!--  -->

    <div class="container">
      <div class="row">
        <div class="col-md-3">
            <a download="sanataryware" href="/assets/EMENENCE-SANITARYWARE.pdf" class="btn btn-info">Download More Sanataryware Catalouge</a>
        </div>
        <div class="col-md-3">
            <a download="Petra" href="/assets/Petra-series-Emenence.pdf" class="btn btn-info">Download More Petra Series Catalouge</a>
        </div>
        <div class="col-md-3">
            <a download="Outdoor-Tiles" href="/assets/Outdoor-Tiles- Emenence.pdf" class="btn btn-info">Download More Outdoor-Tiles Catalouge</a>
        </div>
        <div class="col-md-3">
            <a download="Subway-Tile" href="/assets/Subway-Tiles-Emenence.pdf" class="btn btn-info">Download More Subway Tiles Catalouge</a>
        </div>
      </div>
    </div>
    

    