<div class="container-fluid bgimg">
    <div class="title">
        <h1 class="tit">Faucets</h1>
        <p>Enrich your space with faucets and rejuvenating showers.</p>
    </div>
    </div>
    <div class="container">
        <h1 class="title2 mt-5 mb-5">Product categories</h1>
        <div class="row mt-4 position:relative">
            <div class="col-md-6 position:absolute">
                   <a routerLink="" style="text-decoration: none;">
                    <img src="/assets/faucet1.webp" alt="faucet1" style="width: 100%;height: 28rem;">
                    <h3 class="pc">Faucets</h3>
                   </a>
            </div> 
            <div class="col-md-6" style="text-decoration: none;">
                <a routerLink="" style="text-decoration: none;">
                    <img src="/assets/faucet5.jpg" alt="faucet5" style="width: 100%;height: 28rem;">
                    <h3 class="pc">Bath Accessories</h3>
                </a>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6">
                <a routerLink="" style="text-decoration: none;">
                    <img src="/assets/faucet3.jpg" alt="faucet3" style="width: 100%;height: 28rem;">
                    <h3 class="pc">Health Faucets</h3>
                </a>
            </div>
            <div class="col-md-6">
                <a routerLink="" style="text-decoration: none;">
                    <img src="/assets/faucet2.webp" alt="faucet4" style="width: 100%;height: 28rem;">
                    <h3 class="pc">Showers</h3>
                </a>
            </div>
        </div>
        <div class="row mt-4 mb-5">
            <div class="col-md-6">
                <a routerLink="" style="text-decoration: none;">
                    <img src="/assets/faucet4.jpg" alt="faucet2" style="width: 100%;height: 28rem;">
                    <h3 class="pc">Auxiliaries</h3>
                </a>
            </div>
        </div>
    </div>
    <hr>
    <!-- bathroom  -->
    <div class="container">
        <h1 class="title2">New bathroom collection</h1>
    <div class="row mb-5">
    <div class="col-md-4">
        <img src="/assets/carnival.jpg" alt="carnival">
        <h3 class="mt-2"><a routerLink="" class="nb">Carnival Matt Black</a></h3>
    </div>
    <div class="col-md-4">
        <img src="/assets/shower.jpg" alt="shower">
        <h3 class="mt-2"><a routerLink="" class="nb">WaterFall Shower</a></h3>
    </div>
    <div class="col-md-4">
        <img src="/assets/vine.jpg" alt="vine">
        <h3 class="mt-2"><a routerLink="" class="nb">Vine Collection</a></h3>
    </div>
    </div>
    </div>
    <!--  -->

    <div class="container">
        
      <div class="row mt-5" >
        <div class="col-md-3">
            <a download="Swimmingpool"  href="/assets/Emenence-Swimming pool.pdf" class="btn btn-info">Download More SwimmingPool Catalouge</a>
        </div>
        <div class="col-md-3">
            <a download="parking-tiles" href="/assets/parking-tiles.pdf" class="btn btn-info">Download More Parking Tiles Catalouge</a>
        </div>
        <div class="col-md-3">
            <a download="porcelain-mosaic" href="/assets/porcelain-mosaic.pdf" class="btn btn-info">Download More Porcelain Mosaic Catalouge</a>
        </div>
        <div class="col-md-3">
            <a download="Subway-Tile" href="/assets/fullbody.pdf" class="btn btn-info">Download More Subway Tile Catalouge</a>
        </div>
      </div>
    </div>