.bgimg{
    background-image: url(/assets/quartzbg.jpeg);
    height: 100vh;
    background-size: cover;
    height: 500px;
}
.title{
    width: 100%;
    text-align: center;
    padding-top:15rem;
    color: #fff;
}
.tit{
    font-size:4.5rem;
    font-style: italic;
    font-weight: 400;
}
p{
    font-size: 1.8rem;
    padding-top: 15px;
    line-height: 1;
    font-style: italic;
}