  <!--  -->
  <div class="container-fluid" style="background-color:#eceeef;">
  <div class="row mt-5">
<div class="col-md-5 mt-5 mb-5">
    <img src="/assets/contactusimage.png" alt="" class="rounded imt">
</div>
<div class="col-md-1"></div>
<div class="col-md-6 mt-5 mb-5" style="margin-left:-70px;">
  <h2 class="h2p">PROVIDING THE BEST TILES AND QUARTZ</h2>
  <p class="" style="font-size:20px;text-align: justify;font-family: 'Poltawski Nowy', serif;font-weight: 400;">
    Our Prouducts having a plathora of ranges 
    have a luxurious appeal and seem to have been struck with afflatus.
    our collection is a showstopper and has the ability to make any dimension
    look grand. Every single piece of any of our products that suits  designer <span style="color: #ae8f21;">Home, Swimming Pool, Bathroom & Kitchen </span>
    gets you a compelling aura. </p>
</div>
  </div>
   </div>
   <!--  -->


   <!-- <div class="row mb-5">
    <div class="col-md-5 mt-5 mb-5" style="margin-left:30px;">
      <img src="/assets/contactusimage.png" alt="" class="rounded">
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-6 mt-5 mb-5" style="margin-left:-70px;">
      <h2 class="h2p">PROVIDING THE BEST TILES AND QUARTZ</h2>
      <p class="" style="font-size:20px;text-align: justify;font-family: 'Poltawski Nowy', serif;font-weight: 400;">
        Our Prouducts having a plathora of ranges 
        have a luxurious appeal and seem to have been struck with afflatus.
        our collection is a showstopper and has the ability to make any dimension
        look grand. Every single piece of any of our products that suits  designer <span style="color: #ae8f21;">Home, Swimming Pool, Bathroom & Kitchen </span>
        gets you a compelling aura. </p>
    </div>
   </div> -->