<nav class="navbar navbar-expand-lg rg">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="/assets/logo.jpeg" alt="logo" style="width:90px;height:63px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link al" routerLink="/">Home</a>
          </li>
           <li class="nav-item">
            <a class="nav-link al" routerLink="/">Porcelain Mosaic</a>
          </li>
          <li class="nav-item">
            <a class="nav-link al" routerLink="/">Subway Tiles</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link al dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Our Product
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Tiles
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/">Porcelain Tiles</a></li>
                  <li><a class="dropdown-item" routerLink="/">Full Body Tiles</a></li>
                  <li><a class="dropdown-item" routerLink="/">Parking Tiles</a></li>
                  <li><a class="dropdown-item" routerLink="/">Wall Tiles</a></li>
                  <li><a class="dropdown-item" routerLink="/">Slabs</a></li>
                  <!-- <li class="nav-item dropend">
                    <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/">Action</a></li>
                      <li><a class="dropdown-item" routerLink="/">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li class="nav-item dropend">
                        <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" routerLink="/">Action</a></li>
                          <li><a class="dropdown-item" routerLink="/">Another action</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" routerLink="/">Something else here</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li> -->
                </ul>
              </li>
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Porcelain Mosaic
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/">Action</a></li>
                  <li><a class="dropdown-item" routerLink="/">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li class="nav-item dropend">
                    <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/">Action</a></li>
                      <li><a class="dropdown-item" routerLink="/">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li class="nav-item dropend">
                        <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" routerLink="/">Action</a></li>
                          <li><a class="dropdown-item" routerLink="/">Another action</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" routerLink="/">Something else here</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Subway Tiles
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/">Action</a></li>
                  <li><a class="dropdown-item" routerLink="/">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li class="nav-item dropend">
                    <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/">Action</a></li>
                      <li><a class="dropdown-item" routerLink="/">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li class="nav-item dropend">
                        <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" routerLink="/">Action</a></li>
                          <li><a class="dropdown-item" routerLink="/">Another action</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" routerLink="/">Something else here</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  SanetoryWare & Faucets
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/">Faucets</a></li>
                  <li><a class="dropdown-item" routerLink="/">Bath Accessories</a></li>
                  <li><a class="dropdown-item" routerLink="/">Health Faucets</a></li>
                  <li><a class="dropdown-item" routerLink="/">Showers</a></li>
                  <li><a class="dropdown-item" routerLink="/">Auxiliaries</a></li>
                </ul>
              </li>
              <li class="nav-item dropend">
                <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Quartz
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" routerLink="/">Action</a></li>
                  <li><a class="dropdown-item" routerLink="/">Another action</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li class="nav-item dropend">
                    <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Dropdown
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" routerLink="/">Action</a></li>
                      <li><a class="dropdown-item" routerLink="/">Another action</a></li>
                      <li>
                        <hr class="dropdown-divider">
                      </li>
                      <li class="nav-item dropend">
                        <a class="nav-link dropdown-toggle" routerLink="/" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" routerLink="/">Action</a></li>
                          <li><a class="dropdown-item" routerLink="/">Another action</a></li>
                          <li>
                            <hr class="dropdown-divider">
                          </li>
                          <li><a class="dropdown-item" routerLink="/">Something else here</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link al" routerLink="/">Quartz</a>
          </li>
          <li class="nav-item">
            <a class="nav-link al" routerLink="/home/factory">Factory</a>
          </li>
         <li class="nav-item">
            <a class="nav-link al" routerLink="/home/human_resources">Join Us</a>
          </li>
        </ul>
         <a routerLink="/home/contactus" class="btn btn-success" style="background-color: #ffab40;color: black;">Contact Us</a>
      </div>
    </div>
  </nav>
  