<div class="container-fluid bgimg">
<div class="title">
    <h1 class="tit">Tiles</h1>
    <p>Inspired by nature. A reflection of earthy vibes for an ageless looking home.</p>
</div>
</div>

<div class="container">
    <h1 class="title2 mt-5 mb-5">Surrender to nature</h1>
    <div class="row mt-4 position:relative mb-5">
        <div class="col-md-6 position:absolute">
               <a routerLink="" style="text-decoration: none;">
                <img src="/assets/flootile.jpg" alt="floor" style="width: 100%;">
                <h3 class="pc">Floor Tile</h3>
                <p>
                    <a routerLink="" class="pa position-absolute">
                        <i class="bi bi-dash-lg" style="margin-left:80px;"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i> EXPLORE
                    </a>
                </p>
               </a>
        </div> 
        <div class="col-md-6">
            <a routerLink="" style="text-decoration: none;">
                <img src="/assets/wall.jpeg" alt="wall" style="width: 100%;height: 29.4rem;">
                <h3 class="pc">Wall Tile</h3>
                <p>
                    <a routerLink="" class="pa position-absolute">
                        <i class="bi bi-dash-lg" style="margin-left:80px;"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i>
                        <i class="bi bi-dash-lg" style="margin-left:-4px"></i> EXPLORE
                    </a>
                </p>
            </a>
        </div>
    </div>
</div>
<hr class="style5">

<div class="container-fluid">
    <h1 class="title2">Every space is a canvas</h1>
    <div class="row">
        <div class="col-md-4 mt-5">
            <img src="/assets/parking.jpeg" alt="parking" style="width: 100%;height: 19.6rem;">
            <h3 class="mt-2"><a routerLink="" class="nb">Parking Tiles</a></h3>
        </div>
        <div class="col-md-4 mt-5">
            <img src="/assets/swimming.jpeg" alt="swimming" style="width: 100%;height: 19.6rem;">
            <h3 class="mt-2"><a routerLink="" class="nb">Swimming Tiles</a></h3>
        </div>
        <div class="col-md-4 mt-5">
            <img src="/assets/porcelain2.jpeg" alt="porcelain 2" style="width: 100%;">
            <h3 class="mt-2"><a routerLink="" class="nb">Porcelain Tiles</a></h3>
        </div>
    </div>
</div>