<div class="container-fluid bgimg">
    <div class="title">
        <h1 class="tit">Contact Us</h1>
        <!-- <p>Looks like Art. Feels like Home.</p> -->
    </div>
    </div>
    <div class="container-fluid mt-5 mb-5">
        <div class="row">
            <div class=" col-md-7">
                <div data-aos="flip-right" data-aos-easing="ease-in-out"data-aos-mirror="true" data-aos-once="false" >
                    <img src="/assets/contactus.jpg" alt="contactusimage" class="contactusimage shadow">
                </div>
            </div>
            <div class=" col-md-5">
            <div data-aos="zoom-in" data-aos-easing="ease-in-out"data-aos-mirror="true" data-aos-once="false">
                <form action="">
                    <div class="container my-2">
                        <h3 class="heading">How Can We Help You ?</h3>
                        <p class="para mb-4">Please feel free to get in touch using the form below. We’d love to hear for you.</p>
                        <div class="row">
                            <div class="col-sm col-md-6">
                                <div class="input-group mb-3">
                                    <input type="text" name="name" class="rounded form-control" placeholder="Name"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-sm col-md-6">
                                <div class="input-group mb-3">
                                    <input type="text" name="email" class="rounded form-control" placeholder="Email"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
    
                        <div class="row">
                            <div class="col-sm col-md-6">
                                <div class="input-group mb-3">
                                    <input type="text" name="number" class="rounded form-control" placeholder=" Contact Number"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                            <div class="col-sm col-md-6">
                                <div class="input-group mb-3">
                                    <input type="text" name="project" class="rounded form-control" placeholder="Project Scope"
                                        aria-label="Username" aria-describedby="basic-addon1">
                                </div>
                            </div>
                        </div>
    
                        <div class="row ">
                            <div class="col-sm col-md-12">
                                <div class="input-group mb-3">
                                    <textarea type="text" name="message" class="rounded form-control" placeholder="Write Your Message"
                                        aria-label="Username" aria-describedby="basic-addon1"></textarea>
                                </div>
                            </div>
                        </div>
    
                        <div class="row ">
                            <div class="col-sm col-md-12">
                                <button type="submit" class="btn btn-primary bttn">Submit</button>
                            </div>
                        </div>
    
                    </div>
                </form>
                </div>
            </div>
    
        </div>
    </div>

    